In [14]:
import pandas as pd

In [15]:
national_claims = pd.read_csv('https://query.data.world/s/dyycbtim2ehbfsdf4fdli2tu3byie2')

In [16]:
national_claims.head()

,date,claims,claims_sa,claims_ma,insured_newly_unemployed_rate,covered_employment,pct_lastweek,pct_lastyear,pct_lastweek_sa,pct_lastyear_sa,...,cont_claims_sa,cont_claims_ma,insured_unemployed_rate,insured_unemployed_rate_sa,cont_claims_pct_lastweek,cont_claims_pct_lastyear,cont_claims_pct_lastweek_sa,cont_claims_pct_lastyear_sa,cont_claims_pct_lastweek_ma,cont_claims_pct_lastyear_ma
0,2000-01-01,439912,286000,278250,0.36,123830071,16.5,-13.6,6.7,-13.6,...,2102000.0,2099250.0,2.23,1.70,22.9,-9.9,0.0,-8.7,0.1,-6.1
1,2000-01-08,606897,298000,284750,0.49,123830071,38.0,-15.0,4.2,-13.6,...,2107000.0,2108500.0,2.17,1.70,-2.7,-7.1,0.2,-8.0,0.4,-6.6
2,2000-01-15,442494,289000,285250,0.36,123830071,-27.1,-13.9,-3.0,-14.7,...,2115000.0,2106500.0,2.09,1.71,-3.6,-9.6,0.4,-8.7,-0.1,-8.2
3,2000-01-22,328841,284000,289250,0.27,123830071,-25.7,-9.8,-1.7,-8.7,...,2061000.0,2096250.0,2.06,1.66,-1.6,-9.2,-2.6,-9.2,-0.5,-8.6
4,2000-01-29,332740,285000,289000,0.27,123830071,1.2,-4.9,0.4,-6.6,...,2164000.0,2111750.0,2.16,1.75,5.1,-5.4,5.0,-4.2,0.7,-7.5

In [18]:
state_claims = pd.read_csv('https://query.data.world/s/nqhhiw2bajd5qmf6elkq3dm3dnge43')

In [19]:
state_claims.head()

,state,date,claims,claims_ma,insured_newly_unemployed_rate,covered_employment,pct_lastweek,pct_lastyear,pct_lastweek_ma,pct_lastyear_ma,cont_claims,cont_claims_ma,insured_unemployed_rate,cont_claims_pct_lastweek,cont_claims_pct_lastyear,cont_claims_pct_lastweek_ma,cont_claims_pct_lastyear_ma
0,Alabama,2000-01-01,10099,6102.50,0.56,1806088,178.4,2.0,7.5,NaN,33472.0,28472.50,1.85,31.0,-8.1,2.5,NaN
1,Alaska,2000-01-01,1757,1928.50,0.70,250936,-3.5,-21.4,-4.4,NaN,14064.0,13728.00,5.60,6.4,-6.4,-0.1,NaN
2,Arkansas,2000-01-01,7181,5161.25,0.67,1072034,27.8,-24.2,4.6,NaN,27622.0,25186.00,2.58,17.4,-26.1,1.6,NaN
3,Arizona,2000-01-01,2237,2666.25,0.11,2046519,0.0,45.8,-5.8,NaN,16992.0,16866.25,0.83,0.0,-2.1,-0.4,NaN
4,California,2000-01-01,37401,46086.00,0.27,13844545,-23.4,-20.9,-11.0,NaN,342787.0,375463.50,2.48,-10.5,-11.8,-2.8,NaN

In [20]:
missouri_claims = pd.read_csv('https://download.data.world/s/kxi2xyn33c43offxyt75b6pcjgw43b')

In [21]:
missouri_claims.head()

,state,date,claims,claims_ma,insured_newly_unemployed_rate,covered_employment,pct_lastweek,pct_lastyear,pct_lastweek_ma,pct_lastyear_ma,cont_claims,cont_claims_ma,insured_unemployed_rate,cont_claims_pct_lastweek,cont_claims_pct_lastyear,cont_claims_pct_lastweek_ma,cont_claims_pct_lastyear_ma
0,Missouri,2000-01-01,10649,9507.25,0.42,2558583,-7.1,-20.1,9.0,NaN,47244.0,40440.50,1.85,23.6,-8.5,6.4,NaN
1,Missouri,2000-01-08,13511,11146.75,0.53,2567623,26.9,-17.5,17.2,NaN,59180.0,45710.75,2.30,25.3,-7.4,13.0,NaN
2,Missouri,2000-01-15,9234,11213.25,0.36,2567623,-31.7,-33.1,0.6,NaN,56475.0,50283.00,2.20,-4.6,-10.1,10.0,NaN
3,Missouri,2000-01-22,6248,9910.50,0.24,2567623,-32.3,-10.8,-11.6,-21.5,50734.0,53408.25,1.98,-10.2,-13.4,6.2,-9.8
4,Missouri,2000-01-29,8162,9288.75,0.32,2567623,30.6,29.8,-6.3,-14.5,54000.0,55097.25,2.10,6.4,-10.0,3.2,-10.2

In [22]:
state_funds = pd.read_csv('https://query.data.world/s/vbjpqttbhplufeb35bt4oedqfur74p')

In [23]:
state_funds.head()

,state,fund_balance,reserve_ratio,solvency_level,last_year_hcm_achieved
0,Alaska,500977665,3.79,1.68,2019
1,Alabama,704456280,0.92,1.00,2019
2,Arkansas,846046865,1.94,1.31,2019
3,Arizona,1097519502,0.87,0.92,2008
4,California,3260789629,0.32,0.21,1990