In [1]:
import pandas as pd

In [2]:
national_claims = pd.read_csv('https://query.data.world/s/dyycbtim2ehbfsdf4fdli2tu3byie2')

In [3]:
national_claims.head()

,date,claims,claims_sa,claims_ma,insured_newly_unemployed_rate,covered_employment,pct_lastweek,pct_lastyear,pct_lastweek_sa,pct_lastyear_sa,...,cont_claims_sa,cont_claims_ma,insured_unemployed_rate,insured_unemployed_rate_sa,cont_claims_pct_lastweek,cont_claims_pct_lastyear,cont_claims_pct_lastweek_sa,cont_claims_pct_lastyear_sa,cont_claims_pct_lastweek_ma,cont_claims_pct_lastyear_ma
0,2000-01-01,439912,286000,278250,0.36,123830071,16.5,-13.6,6.7,-13.6,...,2102000.0,2099250.0,2.23,1.70,22.9,-9.9,0.0,-8.7,0.1,-6.1
1,2000-01-08,606897,298000,284750,0.49,123830071,38.0,-15.0,4.2,-13.6,...,2107000.0,2108500.0,2.17,1.70,-2.7,-7.1,0.2,-8.0,0.4,-6.6
2,2000-01-15,442494,289000,285250,0.36,123830071,-27.1,-13.9,-3.0,-14.7,...,2115000.0,2106500.0,2.09,1.71,-3.6,-9.6,0.4,-8.7,-0.1,-8.2
3,2000-01-22,328841,284000,289250,0.27,123830071,-25.7,-9.8,-1.7,-8.7,...,2061000.0,2096250.0,2.06,1.66,-1.6,-9.2,-2.6,-9.2,-0.5,-8.6
4,2000-01-29,332740,285000,289000,0.27,123830071,1.2,-4.9,0.4,-6.6,...,2164000.0,2111750.0,2.16,1.75,5.1,-5.4,5.0,-4.2,0.7,-7.5

In [4]:
state_claims = pd.read_csv('https://query.data.world/s/nqhhiw2bajd5qmf6elkq3dm3dnge43')

In [5]:
state_claims.head()

,state,date,claims,claims_ma,insured_newly_unemployed_rate,covered_employment,pct_lastweek,pct_lastyear,pct_lastweek_ma,pct_lastyear_ma,cont_claims,cont_claims_ma,insured_unemployed_rate,cont_claims_pct_lastweek,cont_claims_pct_lastyear,cont_claims_pct_lastweek_ma,cont_claims_pct_lastyear_ma
0,Alabama,2000-01-01,10099,6102.50,0.56,1806088,178.4,2.0,7.5,NaN,33472.0,28472.50,1.85,31.0,-8.1,2.5,NaN
1,Alaska,2000-01-01,1757,1928.50,0.70,250936,-3.5,-21.4,-4.4,NaN,14064.0,13728.00,5.60,6.4,-6.4,-0.1,NaN
2,Arkansas,2000-01-01,7181,5161.25,0.67,1072034,27.8,-24.2,4.6,NaN,27622.0,25186.00,2.58,17.4,-26.1,1.6,NaN
3,Arizona,2000-01-01,2237,2666.25,0.11,2046519,0.0,45.8,-5.8,NaN,16992.0,16866.25,0.83,0.0,-2.1,-0.4,NaN
4,California,2000-01-01,37401,46086.00,0.27,13844545,-23.4,-20.9,-11.0,NaN,342787.0,375463.50,2.48,-10.5,-11.8,-2.8,NaN

In [6]:
missouri_claims = pd.read_csv('https://download.data.world/s/xjccdccxnkpwxlzyjru77kknt747lr')

In [7]:
missouri_claims.head()

,state,date,claims,claims_ma,insured_newly_unemployed_rate,covered_employment,pct_lastweek,pct_lastyear,pct_lastweek_ma,pct_lastyear_ma,cont_claims,cont_claims_ma,insured_unemployed_rate,cont_claims_pct_lastweek,cont_claims_pct_lastyear,cont_claims_pct_lastweek_ma,cont_claims_pct_lastyear_ma
0,Missouri,2000-01-01,10649,9507.25,0.42,2558583,-7.1,-20.1,9.0,NaN,47244.0,40440.50,1.85,23.6,-8.5,6.4,NaN
1,Missouri,2000-01-08,13511,11146.75,0.53,2567623,26.9,-17.5,17.2,NaN,59180.0,45710.75,2.30,25.3,-7.4,13.0,NaN
2,Missouri,2000-01-15,9234,11213.25,0.36,2567623,-31.7,-33.1,0.6,NaN,56475.0,50283.00,2.20,-4.6,-10.1,10.0,NaN
3,Missouri,2000-01-22,6248,9910.50,0.24,2567623,-32.3,-10.8,-11.6,-21.5,50734.0,53408.25,1.98,-10.2,-13.4,6.2,-9.8
4,Missouri,2000-01-29,8162,9288.75,0.32,2567623,30.6,29.8,-6.3,-14.5,54000.0,55097.25,2.10,6.4,-10.0,3.2,-10.2

In [8]:
state_funds = pd.read_csv('https://query.data.world/s/vbjpqttbhplufeb35bt4oedqfur74p')

In [9]:
state_funds.head()

,state,fund_balance,reserve_ratio,solvency_level,last_year_hcm_achieved
0,Alaska,500977665,3.79,1.68,2019
1,Alabama,704456280,0.92,1.00,2019
2,Arkansas,846046865,1.94,1.31,2019
3,Arizona,1097519502,0.87,0.92,2008
4,California,3260789629,0.32,0.21,1990

## State with the most claims since 2000?

Missouri is 15th

In [10]:
state_claims.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56074 entries, 0 to 56073
Data columns (total 17 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   state                          56074 non-null  object
 1   date                           56074 non-null  object
 2   claims                         56074 non-null  int64
 3   claims_ma                      56074 non-null  float64
 4   insured_newly_unemployed_rate  56074 non-null  float64
 5   covered_employment             56074 non-null  int64
 6   pct_lastweek                   56074 non-null  float64
 7   pct_lastyear                   56021 non-null  float64
 8   pct_lastweek_ma                56074 non-null  float64
 9   pct_lastyear_ma                55862 non-null  float64
 10  cont_claims                    56021 non-null  float64
 11  cont_claims_ma                 56021 non-null  float64
 12  insured_unemployed_rate        56021 non-null  float64
 13  cont_claims_pct_lastweek       56021 non-null  float64
 14  cont_claims_pct_lastyear       55968 non-null  float64
 15  cont_claims_pct_lastweek_ma    56021 non-null  float64
 16  cont_claims_pct_lastyear_ma    55809 non-null  float64
dtypes: float64(13), int64(2), object(2)
memory usage: 7.3+ MB

In [11]:
state_claims.claims_ma.sum()

370377585.25

In [12]:
state_claims.groupby('state').claims.sum().reset_index().sort_values('claims', ascending=False)

                   state    claims
4             California  57217886
38          Pennsylvania  24375718
32              New York  23547152
44                 Texas  18561087
22              Michigan  16630322
13              Illinois  15222863
35                  Ohio  13580357
9                Florida  13099985
33        North Carolina  12941432
51             Wisconsin  12302755
30            New Jersey  12102867
10               Georgia  11306989
49            Washington  10474815
21         Massachusetts   8573209
25              Missouri   7791258
37                Oregon   7576635
14               Indiana   7389383
43             Tennessee   6876857
48              Virginia   6192001
23             Minnesota   6001298
41        South Carolina   5987833
17              Kentucky   5912570
0                Alabama   5572825
20              Maryland   5332610
2                Arizona   5226249
6            Connecticut   4782930
3               Arkansas   4033185
18             Louisiana   4019714
15                  Iowa   3993850
28                Nevada   3853664
39           Puerto Rico   3336711
5               Colorado   3239522
16                Kansas   3218153
24           Mississippi   3046932
36              Oklahoma   2589175
12                 Idaho   2298394
45                  Utah   1855793
1                 Alaska   1808524
40          Rhode Island   1746504
11                Hawaii   1744670
50         West Virginia   1660204
27              Nebraska   1564513
19                 Maine   1507228
31            New Mexico   1409195
26               Montana   1336330
29         New Hampshire   1198110
7               Delaware   1124255
46               Vermont    888233
34          North Dakota    627773
8   District of Columbia    552233
52               Wyoming    537970
42          South Dakota    410747
47        Virgin Islands     58948

## State with the most claims on the week ending 2020-04-04?

California. Missouri is 25th.

In [13]:
state_claims[
    state_claims['date'] == '2020-04-04'
].sort_values(
    'claims', ascending=False
)

,state,date,claims,claims_ma,insured_newly_unemployed_rate,covered_employment,pct_lastweek,pct_lastyear,pct_lastweek_ma,pct_lastyear_ma,cont_claims,cont_claims_ma,insured_unemployed_rate,cont_claims_pct_lastweek,cont_claims_pct_lastyear,cont_claims_pct_lastweek_ma,cont_claims_pct_lastyear_ma
56025,California,2020-04-04,925450,556928.50,5.36,17265039,-12.6,2454.6,65.5,1330.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56031,Georgia,2020-04-04,388175,134895.00,8.88,4373059,190.1,8262.2,245.9,3004.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56043,Michigan,2020-04-04,384844,205630.75,8.95,4302198,26.5,5659.4,85.7,3732.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56053,New York,2020-04-04,345246,201528.00,3.68,9380736,-5.8,2639.4,69.7,1474.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56065,Texas,2020-04-04,313832,190404.75,2.56,12236594,13.6,2296.9,64.8,1382.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56059,Pennsylvania,2020-04-04,283718,270321.25,4.89,5800562,-29.9,2449.8,33.5,2219.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56056,Ohio,2020-04-04,224182,175456.25,4.20,5338723,-18.3,3629.5,44.9,2748.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56051,New Jersey,2020-04-04,213897,136358.00,5.33,4015146,3.7,2675.4,60.6,1721.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56034,Illinois,2020-04-04,200940,126086.25,3.40,5910898,12.6,2163.9,61.6,1382.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56070,Washington,2020-04-04,176827,125956.25,5.30,3333838,-3.3,2707.2,51.0,2094.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56030,Florida,2020-04-04,169885,119786.25,1.97,8604277,-25.6,2553.6,52.3,1996.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56069,Virginia,2020-04-04,149758,77809.50,4.01,3731069,33.1,6849.3,89.8,3527.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56042,Massachusetts,2020-04-04,139582,119226.50,3.92,3557761,-23.1,3149.1,39.4,2762.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56054,North Carolina,2020-04-04,137573,101833.50,3.14,4381417,-20.1,4282.7,49.6,3481.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56035,Indiana,2020-04-04,133639,83791.00,4.40,3039304,-4.0,4298.9,64.5,3532.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56023,Arizona,2020-04-04,132189,63580.25,4.62,2864180,48.6,2528.5,102.7,1534.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56038,Kentucky,2020-04-04,117135,70523.00,6.20,1890475,3.5,4122.6,68.5,3033.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56064,Tennessee,2020-04-04,116141,62355.00,3.56,3263988,25.6,2589.7,84.3,2084.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56044,Minnesota,2020-04-04,111119,84999.25,3.89,2859937,1.9,3443.3,46.3,2567.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56041,Maryland,2020-04-04,107408,59892.50,4.21,2549408,25.9,4227.5,77.7,2204.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56021,Alabama,2020-04-04,105607,49825.50,5.49,1923741,30.4,3553.0,109.0,1995.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56072,Wisconsin,2020-04-04,104776,67982.75,3.67,2851929,-5.6,1847.1,57.9,1110.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56039,Louisiana,2020-04-04,102985,68769.50,5.44,1892522,5.7,6118.9,58.3,4066.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56062,South Carolina,2020-04-04,85018,46353.00,4.09,2077535,27.9,3931.2,81.3,2299.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56046,Missouri,2020-04-04,82399,58238.00,3.00,2749100,-21.0,3022.4,51.7,1779.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56049,Nevada,2020-04-04,79865,62615.25,5.82,1371969,11.0,3877.3,44.9,2873.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56036,Iowa,2020-04-04,67334,41620.25,4.40,1530920,20.3,3682.8,64.2,1910.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56060,Puerto Rico,2020-04-04,66349,33265.75,7.78,852292,46.2,5605.0,95.5,2864.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56024,Arkansas,2020-04-04,60992,24851.25,5.10,1195622,119.7,2610.8,146.9,1285.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56058,Oregon,2020-04-04,56646,34616.75,2.97,1906429,19.3,1167.8,61.1,755.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56032,Hawaii,2020-04-04,53082,28021.00,8.53,621949,9.2,4030.9,85.9,2262.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56057,Oklahoma,2020-04-04,51124,30657.50,3.27,1565634,7.1,2425.9,67.8,1438.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56037,Kansas,2020-04-04,49756,32351.00,3.65,1363114,-8.4,3566.6,59.7,2144.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56045,Mississippi,2020-04-04,46504,21296.25,4.19,1108618,45.3,4800.3,115.3,2101.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56026,Colorado,2020-04-04,45494,32356.75,1.72,2650335,-26.4,2290.6,50.9,1909.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56050,New Hampshire,2020-04-04,36214,24403.25,5.53,654468,15.4,7186.5,57.7,4870.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56027,Connecticut,2020-04-04,33418,23796.25,2.02,1654391,0.6,1334.9,48.0,889.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56066,Utah,2020-04-04,33076,20650.75,2.27,1459679,15.9,3123.8,63.4,2152.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56040,Maine,2020-04-04,30631,19123.50,5.08,602736,28.9,4044.9,64.2,2847.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56033,Idaho,2020-04-04,30022,19395.00,4.12,727996,-8.9,3173.9,60.0,1723.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56061,Rhode Island,2020-04-04,28255,23252.50,5.98,472874,1.6,4123.5,42.1,3015.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56048,Nebraska,2020-04-04,26788,17002.00,2.78,962725,8.3,4448.0,63.0,2355.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56052,New Mexico,2020-04-04,26606,18357.25,3.33,799085,-4.5,2944.2,54.5,2181.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56047,Montana,2020-04-04,20011,14235.00,4.40,454298,-3.6,2607.8,51.3,1834.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56028,Delaware,2020-04-04,18863,12312.00,4.26,443288,-1.4,3913.4,59.4,2613.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56067,Vermont,2020-04-04,16176,8813.00,5.33,303508,10.5,3016.8,80.6,1614.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56055,North Dakota,2020-04-04,16093,8497.00,3.91,411624,36.2,5816.5,85.5,3177.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56029,District of Columbia,2020-04-04,15393,11734.25,2.66,578035,-3.0,3406.4,46.6,2769.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56022,Alaska,2020-04-04,15370,9527.75,5.00,307329,11.6,1625.0,61.8,963.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56071,West Virginia,2020-04-04,14145,8267.25,2.11,670051,-2.6,1986.3,65.7,1038.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56063,South Dakota,2020-04-04,7916,4167.00,1.90,417030,16.4,5435.7,86.5,2650.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56073,Wyoming,2020-04-04,4900,3866.50,1.82,268518,-23.4,1324.4,39.3,1175.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56068,Virgin Islands,2020-04-04,11,107.00,0.03,34238,-95.6,-70.3,-11.0,303.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## What week since 2000 has the most claims? Graph it

1-3 are all the weeks involving the virus

In [14]:
state_claims.groupby('date').claims.sum().reset_index().sort_values('claims', ascending=False)

            date   claims
1057  2020-04-04  6203359
1056  2020-03-28  6015821
1055  2020-03-21  2920162
471   2009-01-10   956791
523   2010-01-09   825891
...          ...      ...
977   2018-09-22   172930
978   2018-09-29   171816
1024  2019-08-17   171386
975   2018-09-08   162640
1027  2019-09-07   160342

[1058 rows x 2 columns]

## What percentage of the workforce do the 2020-04-04 claims represent nationally?

427%

In [15]:
national_claims[
    national_claims['date'] == '2020-04-04'
]

,date,claims,claims_sa,claims_ma,insured_newly_unemployed_rate,covered_employment,pct_lastweek,pct_lastyear,pct_lastweek_sa,pct_lastyear_sa,...,cont_claims_sa,cont_claims_ma,insured_unemployed_rate,insured_unemployed_rate_sa,cont_claims_pct_lastweek,cont_claims_pct_lastyear,cont_claims_pct_lastweek_sa,cont_claims_pct_lastyear_sa,cont_claims_pct_lastweek_ma,cont_claims_pct_lastyear_ma
1057,2020-04-04,6203359,6606000,4265500,4.27,145230691,3.1,3063.8,-3.8,3154.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## What is the national percentage change of new claims per week since the virus started? Graph it

In [16]:
virus_date = '2020-03-07'

In [17]:
national_claims[
    national_claims['date'] >= virus_date
].groupby('date').pct_lastweek.sum().reset_index()

         date  pct_lastweek
0  2020-03-07          -7.5
1  2020-03-14          25.5
2  2020-03-21        1061.5
3  2020-03-28         106.0
4  2020-04-04           3.1

## What is the national percentage change from last year for the weeks of the virus? Graph it

In [18]:
national_claims[
    national_claims['date'] >= virus_date
].groupby('date').pct_lastyear.sum().reset_index()

         date  pct_lastyear
0  2020-03-07          -4.3
1  2020-03-14          29.4
2  2020-03-21        1436.7
3  2020-03-28        3173.5
4  2020-04-04        3063.8

## What is the national total number of people on claims?

8,177,965 people. 2020-04-04 isn't updated yet and has just 0.0

In [19]:
national_claims[
    national_claims['date'] == '2020-03-28'
].groupby('date').cont_claims.sum().reset_index()

         date  cont_claims
0  2020-03-28    8177965.0

## Is that the most since 2000?

Yes by more than 1.5 million claims

In [20]:
national_claims.groupby('date').cont_claims.sum().reset_index().sort_values('cont_claims', ascending=False)

            date  cont_claims
1056  2020-03-28    8177965.0
482   2009-03-28    6451690.0
480   2009-03-14    6440135.0
484   2009-04-11    6406046.0
481   2009-03-21    6388414.0
...          ...          ...
980   2018-10-13    1370783.0
1031  2019-10-05    1369887.0
978   2018-09-29    1369317.0
979   2018-10-06    1350834.0
1057  2020-04-04          0.0

[1058 rows x 2 columns]

## What is the national percentage change of total claims per week since the virus started?

In [21]:
national_claims[
    national_claims['date'] >= virus_date
].groupby('date').cont_claims_pct_lastweek.sum().reset_index()

         date  cont_claims_pct_lastweek
0  2020-03-07                      -3.9
1  2020-03-14                       4.9
2  2020-03-21                      64.7
3  2020-03-28                     139.4
4  2020-04-04                       0.0

## What is the national percentage change of total claims from last year per week since the virus started?

In [27]:
national_claims[
    national_claims['date'] >= virus_date
].groupby('date').cont_claims_pct_lastyear.sum().reset_index()

         date  cont_claims_pct_lastyear
0  2020-03-07                      -1.5
1  2020-03-14                       3.3
2  2020-03-21                      79.0
3  2020-03-28                     339.3
4  2020-04-04                       0.0

## What state has the most claims per week since the virus started?

California during the week of Mar. 28 and Apr. 4.

In [33]:
state_claims[
    state_claims['date'] >= virus_date
].sort_values(
    'claims', ascending=False
)

,state,date,claims,claims_ma,insured_newly_unemployed_rate,covered_employment,pct_lastweek,pct_lastyear,pct_lastweek_ma,pct_lastyear_ma,cont_claims,cont_claims_ma,insured_unemployed_rate,cont_claims_pct_lastweek,cont_claims_pct_lastyear,cont_claims_pct_lastweek_ma,cont_claims_pct_lastyear_ma
55972,California,2020-03-28,1058325,336412.25,6.13,17265039,468.0,2646.9,309.0,739.0,400565.0,388171.25,2.32,-5.1,8.7,2.0,1.6
56025,California,2020-04-04,925450,556928.50,5.36,17265039,-12.6,2454.6,65.5,1330.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56006,Pennsylvania,2020-03-28,404677,202448.50,6.98,5800562,7.2,3746.7,94.1,1493.6,135708.0,132377.50,2.34,6.0,15.8,0.1,1.6
56031,Georgia,2020-04-04,388175,134895.00,8.88,4373059,190.1,8262.2,245.9,3004.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56043,Michigan,2020-04-04,384844,205630.75,8.95,4302198,26.5,5659.4,85.7,3732.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55851,South Dakota,2020-03-07,185,182.25,0.04,417030,16.4,-13.6,-5.0,-23.6,3059.0,3133.75,0.73,-1.8,-10.6,-0.5,-7.3
55962,Virgin Islands,2020-03-21,123,67.00,0.36,34238,179.5,412.5,34.0,191.3,584.0,581.00,1.71,-1.4,37.1,3.4,12.6
55856,Virgin Islands,2020-03-07,64,49.00,0.19,34238,73.0,178.3,10.7,122.7,586.0,541.00,1.71,4.3,33.2,3.0,-3.0
55909,Virgin Islands,2020-03-14,44,50.00,0.13,34238,-31.2,120.0,2.0,138.1,592.0,562.00,1.73,1.0,8.4,3.9,4.8
56068,Virgin Islands,2020-04-04,11,107.00,0.03,34238,-95.6,-70.3,-11.0,303.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Rank of states based on total number of people covered by claims?

## Which state has the greatest weekly percentage change since virus started?

## Which state has the greatest yearly percentage change per week since virus started?

## Which state has the most total claims?

## States percentage change of total claims per week since the virus started?

## States percentage change of total claims from last year per week since the virus started?

## What state has the most money in the UI fund?

## How much money does Missouri have in the UI fund?

## Missouri's reserve ratio?

## What week in Missouri has the most claims?

## What percentage of the workforce do the 2020-04-04 claims represent in Missouri?

## Percentage of people covered by the claims per week since the virus started?

## Total number of people covered by the employment?

## Weekly percentage change of claims in Missouri since virus started?

## Yearly percentage change of claims per week in Missouri since virus started?

## How many people have filed unemployment claims in Missouri right now?

## Missouri percentage change of total claims per week since the virus started?

## Missouri percentage change of total claims from last year per week since the virus started?